<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.dao.TbItemParamMapper" >
  <resultMap id="BaseResultMap" type="com.taotao.pojo.TbItemParam" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="item_cat_id" property="itemCatId" jdbcType="BIGINT" />
    <result column="param_data" property="paramData" javaType="java.lang.String"/>
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="selectList" resultMap="BaseResultMap">
    SELECT id,item_cat_id,param_data,created,updated FROM tb_item_param
  </select>
  
  <select id="selectByItemCatId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT id,item_cat_id,param_data,created,updated FROM tb_item_param WHERE item_cat_id=#{id}
  </select>

</mapper>